@import 'media-queries';

$primary-color: #F2E7DD;
$secondary-color: #E9230C;
$text-color: #723905;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: $primary-color;
}

%heading {
    font-size: 50px;
    font-weight: 900;
    color: $text-color;
    background: $primary-color;
}

p {
    color: $text-color;
}

span {
    color: $secondary-color;
}

%cards-i {
    background: $primary-color;
    font-size: 100px;
    color: $secondary-color;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #logo {
        width: 750px;

        @include stage2 {
            width: 90%;
        }
    }

    button {
        cursor: pointer;
        margin-top: 100px;
        font-size: 40px;
        padding: 10px 60px;
        border-radius: 20px;
        background-color: $secondary-color;
        border: none;
        color: $primary-color;
        box-shadow: 0 9px #999;
        transition: 300ms;
        transition-timing-function: ease-out;

        @include stage2 {
            font-size: 30px;
            padding: 10px 50px;
        }
    }

    button:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

.purpose {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    color: $text-color;
    font-size: 25px;
    padding-bottom: 200px;
    font-weight: 600;

    @include stage1 {
        margin-bottom: 75px;   
    }

    @include stage2 {
        font-size: 20px;
    }

    p {
        width: 70%;
    }
}

.how-to {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    @include stage1 {
        height: 200vh;
    }

    h1 {
        @extend %heading;
    }

    .steps {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        @include stage1 {
            flex-direction: column;
            height: 90%;
        }

        .card {
            height: 370px;
            width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            color: $text-color;
            font-size: 25px;
            padding: 20px;
            border-radius: 40px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
            background: $primary-color;
        }

        #card1 {
            i {
                @extend %cards-i;
            }
        }

        #card2 {
            i {
                @extend %cards-i;
            }
        }

        #card3 {
            i {
                @extend %cards-i;
            }
        }
    }
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include stage2 {
        height: 120vh;
        flex-direction: column;
    }

    #description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
        height: 50%;
        width: 30%;
        text-align: left;

        @include stage2 {
            width: 70%;
            height: 40%;
            text-align: center;
        }

        h1 {
            @extend %heading;
        }

        p {
            font-size: 20px;
            line-height: 30px;
        }  
    }

    #pneumonia {
        width: 40%;

        @include stage2 {
            width: 350px;
        }
    }
}

.disclaimer {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}






